<div class="container">
  <div class="row"></div>
  <div class="dashboard-title-wrapper">
    <h1 id="dashboard-title">My Dashboard</h1>
  </div>
  <div class=" navbar-container">
    <ul class="nav nav-pills">
      <li class="active"><a href="#tab-1" data-toggle="tab" class="toogle-margin">my bookings</a></li>
      <li><a href="#tab-2" data-toggle="tab" class="toogle-margin">my boat bookings</a></li>
      <li><a href="#tab-3" data-toggle="tab" class="toogle-margin">my boats</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab-1">
        <div class="show-box show-box-spacing">
              <!-- Iterate over bookings made by the user -->
          <div class="row" id="My-bookings">
            <% current_user&.bookings&.each do |booking| %>
              <div class="col-xs-4">
                <div class="booking-card">
                  <!-- Boat Image -->
                  <%= link_to boat_path(booking.boat), :action => 'go' do %>
                      <div class="booking-card__image" style="background-image: url('<%= booking.boat.photo %>');"><div class="positioned-avatar" style="background-image: url('<%= booking.boat.user.photo %>');"></div></div>
                      <div style="height: 30px;"></div>
                  <% end %>

                  <!-- Boat Description -->
                  <div class="booking-card__content">
                    <h4 style="font-size: 18px;"><%= booking.boat.title %></h4>
                    <div>
                      <i class="fas fa-map-marker-alt marker"></i><%= booking.boat.location %>
                    </div>
                    <div>
                      <i class="fa-spacing fas fa-users"></i><%= booking.boat.capacity %>
                    </div>
                    <p><%= booking.start_date.strftime("%d/%m/%Y") %><%= " - " + booking.end_date.strftime("%d/%m/%Y") if booking.end_date.mjd - booking.start_date.mjd != 0 %></p>
                    <p><b><%= (booking.end_date.mjd - booking.start_date.mjd + 1) * booking.boat.price %>€</b></p>
                    <p><%= booking.status.capitalize %><%= "..." if booking.status == "pending" %></p>
                  </div>
                </div>
              </div>
            <% end %>
            <!-- End iteration -->
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-2">
        <div class="show-box show-box-spacing">
          <!-- Iterate over bookings made by the user -->
          <div class="row" id="Bookings-of-my-boat">
            <% current_user&.owned_boats&.each do |boat| %>
              <% boat.bookings.each do |booking| %>
                <div class="col-xs-4">
                  <div class="booking-card">
                    <!-- Boat Image -->
                    <%= link_to boat_path(booking.boat), :action => 'go' do %>
                        <div class="booking-card__image" style="background-image: url('<%= boat.photo %>');"><div class="positioned-avatar" style="background-image: url('<%= booking.user.photo %>');"></div></div>
                        <div style="height: 30px;"></div>
                    <% end %>

                    <!-- Boat Description -->
                    <div class="booking-card__content">
                      <h4 style="font-size: 18px;"><%= boat.title %></h4>
                      <div style="text-align: center;">
                        <i class="fas fa-map-marker-alt marker"></i><%= boat.location %>
                      </div>
                      <div>
                        <i class="fa-spacing fas fa-users"></i><%= boat.capacity %>
                      </div>
                      <p><%= booking.start_date.strftime("%d/%m/%Y") %><%= " - " + booking.end_date.strftime("%d/%m/%Y") if booking.end_date.mjd - booking.start_date.mjd != 0 %></p>
                      <p><b><%= (booking.end_date.mjd - booking.start_date.mjd + 1) * booking.boat.price %>€</b></p>
                      <% if booking.status == "pending" %>

                        <!-- Buttons to confirm or reject booking -->
                        <div class="inline-form" style="display: flex;">
                          <%= form_tag booking_path(booking), method: "patch" do %>
                            <%= hidden_field_tag :status, "rejected" %>
                            <%= button_tag class: "unstyled-button" do %>
                              <i class="fas fa-times btn-card" style="font-size: 14px;"></i>
                            <% end %>
                          <% end %>
                          <%= form_tag booking_path(booking), method: "patch" do %>
                            <%= hidden_field_tag :status, 'confirm' %>
                            <%= button_tag class: "unstyled-button" do %>
                              <i class="fas fa-check btn-card" style="padding-left: 3px; padding-right: 3px;font-size: 14px;"></i>
                            <% end %>
                          <% end %>
                        </div>
                      <% else %>
                        <p><%= booking.status.capitalize %></p>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-3">
        <div class="show-box show-box-spacing">
          <!-- Iterate over bookings made by the user -->
          <div class="row" id="My boats">
            <% current_user&.owned_boats&.each do |boat| %>
              <div class="col-xs-4">
                <div class="boat-card-dashboard">
                  <%= link_to boat_path(boat) do %>
                    <div class="boat-card-image" style="background-image: url('<%= boat.photo %>')"></div>
                  <% end %>
                  <div class="boat-card-content">
                    <div class="boat-card-title">
                      <h4><%= boat.title %></h4>
                    </div>

                    <div class="flex icon-container">
                      <div class="flex icons">
                        <div class="capacity-icon">
                          <i class="fa-spacing fas fa-users"></i><span> <%= boat.capacity %></span>
                        </div>
                        <i class="fas fa-euro-sign" style="margin-right: 5px"> </i> <%= boat.price %> /day
                      </div>
                      <div style="display: flex;">
                        <div class="btn-card">
                          <%= link_to edit_boat_path(boat) do %>
                            <i class="fas fa-edit"></i>
                          <% end %>
                        </div>
                        <div class="btn-card" style="margin-left: 10px;">
                          <%= link_to boat_path(boat), method: "delete" do %>
                            <i class="fas fa-trash-alt"></i>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
