<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Update boat information</h1>
      <%= simple_form_for [@boat] do |f| %>
        <% if @boat.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @boat.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :location, id: "boat_location" %>
        <%= f.input :capacity %>
        <%= f.input :price %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit "Update boat information", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
