<div class="full_width_image" style="background-image: url(<%= @boat.photo %>);">

</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <h1><%= @boat.title %></h1>
      <p><i class="fas fa-users"></i><%= @boat.capacity %></p>
      <hr>
      <p><%= @boat.description %></p>
    </div>
    <div class="col-md-2">
      <div class="booking-card">
        <p><%= @boat.price %></p>
      </div>
    </div>
  </div>
</div>
