<div class="full_width_image" style="background-image: url('<%= @boat.photo %>');">

</div>
<div class="container">
  <div class="row">
    <div class=" col-xs-12 col-md-6 col-md-offset-1">
      <h2><%= @boat.title %></h2>
      <p><i class="fa-spacing fas fa-users"></i><%= @boat.capacity %></p>

      <div class="description">
        <p><b>Description</b></p>
        <p><%= @boat.description %></p>
      </div>
      <div class="show-box">
        <p><b>Location</b></p>
        <p><i class="fas fa-map-marker-alt"></i><%= @boat.location %></p>
        <div
          id="map"
          data-markers="<%= @marker.to_json %>"
        ></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="booking-box">
        <p><span class="box-price"><b><%= @boat.price %>€</b></span> / day</p>
        <hr>
        <%= simple_form_for [@boat, @booking] do |f| %>
          <% if @booking.errors.any? %>
            <div class="errors-container">
              <ul>
                <% @booking.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= f.input :start_date,
                      as: :string,
                      required: false,
                      input_html: { class: "datepicker" },
                      placeholder: "Pick the starting date"
          %>
          <%= f.input :end_date,
                      as: :string,
                      required: false,
                      input_html: { class: "datepicker" },
                      placeholder: "Pick the ending date"
          %>
          <%= f.submit "Book", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
